<h2>Registration</h2>
<form (submit)="onSubmitRegistrationForm($event)">
    <div class="form-group col-xs-12">
        <label for="registration-email">Your email address</label>
        <input [(ngModel)]="model.email" class="form-control form-control-lg" name="email" type="email" id="registration-email" placeholder="example@example.com">
    </div>
    <div class="form-group col-xs-12">
        <label for="registration-password">Password</label>
        <input [(ngModel)]="model.password" class="form-control form-control-lg" name="password" type="password" id="registration-password" placeholder="Your password">
    </div>
    <div class="btn-group col-xs-12">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
    </div>
</form>
