<div *ngIf="!!note">
    <form (submit)="onSubmitNoteDetailsForm($event)">
        <div class="form-group">
            <input class="form-control" [(ngModel)]="note.title" name="title">
        </div>
        <div class="form-group">
            <div class="note-details__content form-control" contenteditable="true" (keyup)="onKeyPressedInContent($event)" [innerHTML]="getContentHtml()"></div>
        </div>
        <div class="form-group">
            <button [hidden]="!isDirty" class="btn btn-primary btn-lg" type="submit">Save</button>
            <button [hidden]="isDirty" class="btn btn-primary btn-lg" type="submit" disabled>Document is saved</button>
        </div>
    </form>
</div>
