registration-form,
login-form {
    width: 100%;
    margin-bottom: 1em;
}

note-page {
    .back-link {
        display: none;
    }

    .note-selected {
        .back-link {
            display: block;
        }

        search {
            display: none;
        }

        note-list {
            display: none;
        }
    }
}

.note-details__content {
    min-height: 10em;
}

.notelist-item {
    display: block;
}

.notelist-item {
    a {
        color: #000000;
    }
    &.active a {
        color: #ffffff;
    }
}
