app-registration-form,
app-login-form {
  margin-bottom: 1em;
}

app-note-page {
  .back-link {
    display: none;
  }
  .note-selected {
    .back-link {
      display: block;
    }
    app-note-list {
      display: none;
    }
  }
}

.note-details__content {
    height: 10em;
}
