<div [ngClass]="{'note-selected': !!selectedNoteId}">
    <div class="row hidden-md-up back-link">
        <div class="col-xs-12">
            <a class="btn btn-secondary" routerLink="/note">Back to notes</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <search></search>
            <note-list [selectedNoteId]="selectedNoteId"></note-list>
        </div>
        <div class="col-xs-12 col-md-8">
            <note-details [id]="selectedNoteId"></note-details>
        </div>
    </div>
</div>