<h2>Login</h2>
<form (submit)="onSubmitLoginForm($event)">
    <div class="form-group col-xs-12">
        <label for="login-email">Your email address</label>
        <input [(ngModel)]="model.email" class="form-control form-control-lg" name="email" type="email" id="login-email" placeholder="example@example.com">
    </div>
    <div class="form-group col-xs-12">
        <label for="login-password">Password</label>
        <input [(ngModel)]="model.password" class="form-control form-control-lg" name="password" type="password" id="login-password" placeholder="Your password">
    </div>
    <div class="btn-group col-xs-12">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </div>
</form>
