<add-note></add-note>

<ul class="list-group" *ngIf="notes !== []">
    <li class="notelist-item list-group-item" [ngClass]="{active: note.id == selectedNoteId}" *ngFor="let note of notes" (click)="onClickItem(note.id)">
        <a routerLink="/note/{{note.id}}">{{note.title}}</a>
        <button class="btn btn-secondary btn-sm float-right" (click)="onClickDeleteButton($event, note.id, note.title)">Del</button>
    </li>
</ul>
