<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
                <login-form></login-form>
        </div>
        <div class="col-xs-12 col-md-6">
            <registration-form></registration-form>
        </div>
    </div>
</div>
