<form (submit)="onSubmitAddNoteForm($event)">
    <div class="input-group">
        <input class="form-control" [(ngModel)]="model.title" name="title" placeholder="Title of new note">
        <span class="input-group-btn">
            <button class="btn btn-outline-success" type="submit">Add note</button>
        </span>
    </div>
</form>
