<form>
    <div class="input-group">
        <input class="form-control" type="text" placeholder="Search">
        <span class="input-group-btn">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </span>
    </div>
</form>
