<div *ngIf="!!note">
    <form (submit)="onSubmitNoteDetailsForm($event)">
        <div class="form-group">
            <input class="form-control"  [(ngModel)]="note.title" name="title">
        </div>
        <div class="form-group">
            <textarea style="resize: both;" class="form-control note-details__content" [(ngModel)]="note.content" name="content"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg" type="submit">Save</button>
        </div>
    </form>
</div>
